* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  word-break: break-word;
  font-family: "Mulish", sans-serif;
  color: var(--content-color);
}

:root {
  --background-color: rgb(12, 12, 30);
  --skeleton-color: rgb(203, 19, 203);
  --skeleton-color__focus: rgb(1, 40, 211);
  --content-color: white;
}

body {
  background-color: var(--background-color);
  background-attachment: fixed;
}

button {
  border: none;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}
@media (pointer: coarse) {
  button {
    cursor: default;
  }
}

main {
  margin: 0px auto;
  width: 70%;
  max-width: 1000px;
}

.main-title {
  margin: 30px;
  font-size: 48px;
  text-align: center;
}
.main-title--small-text {
  font-size: 18px;
}

.tridimensional-button-wrapper {
  display: inline-block;
  position: relative;
}
.tridimensional-button-wrapper--button {
  border: 2px solid var(--skeleton-color);
  padding: 7px;
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
  border-radius: 4px;
  font-variant-caps: small-caps;
  font-size: 17px;
  font-weight: 600;
  transition: transform 150ms ease-in;
}
.tridimensional-button-wrapper--button:active {
  transform: translateY(5px);
}
.tridimensional-button-wrapper--shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--skeleton-color);
  border-radius: 4px;
  transform: translateY(5px);
}

.search-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20vh 0px 0px;
}
.search-form-wrapper:focus-within .search-form-wrapper--input {
  opacity: 1;
}
.search-form-wrapper:focus-within .tridimensional-button-wrapper {
  opacity: 1;
}
.search-form-wrapper--input {
  outline: none;
  border: 2px solid var(--skeleton-color);
  padding: 12px 8px;
  width: 100%;
  background-color: var(--background-color);
  opacity: 0.7;
  border-radius: 4px 0px 0px 4px;
  color: var(--content-color);
  font-size: 17px;
  transition: opacity 200ms ease-in;
}
.search-form-wrapper--input:focus {
  opacity: 1;
}
.search-form-wrapper--input:focus + .tridimensional-button-wrapper {
  opacity: 1;
}
.search-form-wrapper .tridimensional-button-wrapper {
  opacity: 0.7;
  transition: opacity 200ms ease-in;
}
.search-form-wrapper .tridimensional-button-wrapper--button {
  border-left: 0px;
  border-radius: 0px 4px 4px 0px;
}
.search-form-wrapper .tridimensional-button-wrapper--button:active {
  transform: translateY(3px);
}
.search-form-wrapper .tridimensional-button-wrapper--shadow {
  border-radius: 0px 4px 4px 0px;
  transform: translateY(3px);
}
.search-form-wrapper--svg {
  width: 24px;
  height: 24px;
  fill: var(--content-color);
}

.lyrics-card {
  margin: 30px 0px;
  border: 2px solid var(--skeleton-color);
  padding: 12px;
  border-radius: 6px;
  list-style: none;
}
.lyrics-card--image {
  align-self: center;
  width: 100%;
  border-radius: 6px;
}
.lyrics-card--figure {
  display: grid;
  grid-template-columns: 180px auto;
}
.lyrics-card--main-wrapper {
  padding-left: 10px;
}
.lyrics-card--music-name {
  margin-bottom: 12px;
}
.lyrics-card--flex-wrapper {
  display: flex;
  align-items: flex-start;
}
.lyrics-card--flex-wrapper:nth-child(2) {
  margin-bottom: 6px;
}
.lyrics-card--svg {
  flex-shrink: 0;
  margin-right: 6px;
  width: 24px;
  height: 24px;
  fill: var(--content-color);
}

/*# sourceMappingURL=style.css.map */
