* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  word-break: break-word;

  font-family: 'Mulish', sans-serif;
  color: var(--content-color);
}

:root {
  --background-color: rgb(12, 12, 30);
  --skeleton-color: rgb(203, 19, 203);
  --skeleton-color__focus: rgb(1, 40, 211);
  --content-color: white;
  --error-modal-color: red;
}


body {
  background-color: var(--background-color);
  background-attachment: fixed;
}

button {
  border: none;

  background-color: transparent;

  user-select: none;

  cursor: pointer;

  @media (pointer: coarse) {
    cursor: default;
  }
}

main {
  margin: 0px auto;
  width: 70%;
  max-width: 1000px;
}


.error-modal {
  width: 100%;
  padding: 12px 14px 14px;

  position: fixed;
  top: 0px;
  left: 0px;

  transform: translateY(calc(-100% - 7px));

  background-color: var(--error-modal-color);

  font-size: 20px;
  font-variant: small-caps;
  font-weight: 600;
  text-align: center;

  transition: 150ms ease-in-out transform;

  &__enabled {
    transform: translateY(0px);
  }
}

.main-title {
  margin: 30px;

  font-size: 48px;
  text-align: center;
  letter-spacing: 2px;

  &--small-text {
    font-size: 18px;
  }
}

.tridimensional-button-wrapper {
  position: relative;

  &--button {
    border: 2px solid var(--skeleton-color);
    padding: 7px;

    position: relative;
    z-index: 1;

    background-color: var(--background-color);

    border-radius: 4px;

    font-variant-caps: small-caps;
    font-size: 18px;
    font-weight: 600;

    transition: transform 150ms ease-in;
  }

  &--button:active {
    transform: translateY(6px)
  }

  &--shadow {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    background-color: var(--skeleton-color);

    border-radius: 4px;

    transform: translateY(6px);
  }
}

.search-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 20vh 0px 0px;

  &:focus-within &--input {
    opacity: 1;
  }

  &:focus-within .tridimensional-button-wrapper {
    opacity: 1;
  }

  &--input {
    outline: none;
    border: 2px solid var(--skeleton-color);
    padding: 13px 8px;
    width: 100%;
    background-color: var(--background-color);

    opacity: 0.7;

    border-radius: 4px 0px 0px 4px;

    color: var(--content-color);

    font-size: 17px;

    transition: opacity 200ms ease-in;
  }

  &--input:focus {    // fallback for :focus-within
    opacity: 1;
  }

  &--input:focus + .tridimensional-button-wrapper {
    opacity: 1;
  }

  .tridimensional-button-wrapper {
    opacity: 0.7;

    transition: opacity 200ms ease-in;

    &--button {
      border-left: 0px;

      border-radius: 0px 4px 4px 0px;
    }

    &--button:active {
      transform: translateY(4px)
    }

    &--shadow {
      border-radius: 0px 4px 4px 0px;

      transform: translateY(4px)
    }
  }

  &--svg {
    width: 24px;
    height: 24px;

    fill: var(--content-color);
  }
}

.loading-spinner {
  margin: 50px auto;
  border: 4px solid var(--skeleton-color);
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 40px;
  height: 40px;

  opacity: 0;

  border-radius: 50%;

  animation: none;
  transition: opacity 200ms 500ms linear;

  &__enabled {
    opacity: 1;

    animation: rotate 800ms ease-in-out infinite;
    transition: opacity 200ms 500ms linear;
  }
}

.music-card {
  margin: 24px 0px;
  border: 2px solid var(--skeleton-color);
  padding: 12px;

  border-radius: 6px;

  list-style: none;

  &--image {
    align-self: center;

    width: 100%;

    border-radius: 6px;
  }

  &--figure {
    display: grid;
    grid-template-columns: 180px auto;
  }

  &--main-flex-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding-left: 10px;

    position: relative;
  }

  &--music-name {
    margin: 0px 100px 12px 0px;
  }

  &--flex-wrapper {
    display: flex;
    align-items: center;
  }

  &--flex-wrapper:nth-child(2) {
    margin-bottom: 6px;
  }

  &--flex-wrapper-duration {
    display: inline-flex;

    padding: 4px;

    position: absolute;
    top: 4px;
    right: 4px;

    background-color: var(--skeleton-color);

    border-radius: 4px;
  }

  &--svg {
    flex-shrink: 0;

    margin-right: 6px;
    width: 24px;
    height: 24px;

    fill: var(--content-color);
  }

  .tridimensional-button-wrapper {
    align-self: center;

    margin-top: 30px;

    transform: translateY(-6px);

    &--button {
      padding: 5px 14px;
    }
  }
}


@keyframes rotate {
  to {
    transform: rotate(360deg)
  }
}