* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  font-family: 'Nunito', sans-serif;
  color: var(--content-color);
}

:root {
  --background-color: rgb(12, 12, 30);
  --skeleton-color: rgb(203, 19, 203);
  --skeleton-color__focus: rgb(1, 40, 211);
  --content-color: white;
}

@mixin tridimensional-button($border-radius) {
  &::before {
    content: '';

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    background-color: var(--skeleton-color);

    border-radius: $border-radius;

    transform: translateY(8px)
  }
}


body {
  background-image: linear-gradient(180deg, var(--skeleton-color) 90px, var(--background-color) 90px);
  background-attachment: fixed;
}

button {
  border: none;

  background-color: transparent;

  cursor: pointer;

  @media (pointer: coarse) {
    cursor: default;
  }
}


.main-title {
  margin: 30px;

  font-size: 48px;
  text-align: center;

  &--small-text {
    font-size: 18px;
  }
}

.tridimensional-button-wrapper {
  position: relative;

  &--button {
    border: 2px solid var(--skeleton-color);
    border-left: 0px;
    padding: 7px;

    position: relative;
    z-index: 1;

    background-color: var(--background-color);

    border-radius: 0px 4px 4px 0px;

    transition: transform 150ms ease-in;
  }

  &--button:active {
    transform: translateY(4px)
  }

  &--shadow {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    background-color: var(--skeleton-color);

    border-radius: 0px 4px 4px 0px;

    transform: translateY(4px);
  }
}

.search-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 20vh 0px 0px;

  &:focus-within &--input {
    opacity: 1;
  }

  &:focus-within .tridimensional-button-wrapper {
    opacity: 1;
  }

  &--input {
    outline: none;
    border: 2px solid var(--skeleton-color);
    padding: 12px 8px;
    width: 80%;
    max-width: 650px;

    background-color: var(--background-color);

    opacity: 0.7;

    border-radius: 4px 0px 0px 4px;

    color: var(--content-color);

    font-size: 17px;

    transition: opacity 200ms ease-in;
  }

  &--input:focus {    // fallback for :focus-within
    opacity: 1;
  }

  &--input:focus + .tridimensional-button-wrapper {
    opacity: 1;
  }

  .tridimensional-button-wrapper {
    opacity: 0.7;

    transition: opacity 200ms ease-in;
  }

  &--svg {
    width: 24px;
    height: 24px;

    fill: var(--content-color);
  }
}
